*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.clock-container h1{
    color: #1082A7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
}

